p {
  color: darkgreen;
  background-color: lightblue;
}

h2 {
  color: darkred;
  background-color: orange;
}
#intro {
  color: darkblue;
  background-color: lightgreen;
}
.class1 {
  color: violet;
  font-size: 200%;
}
